# Data Science Tools and Ecosystem

In [2]:
print ("In this notebook, Data Science Tools and Ecosystem are summarized.")

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objetives:**
- Data science tools
- Open source
- Commercial tools for data science

In [ ]:
Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:

- NumPy- Matplotli
- Pandas

Data Science Tools

| Data Science Tools |
| ------------------ |
| Apache Spark |
| Jupyter Notebook |
| Matlab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [28]:
print("This a simple arithmetic expression to mutiply then add integers")

(3*4)+5

This a simple arithmetic expression to mutiply then add integers

17

In [30]:
print("This will convert 200 minutes to hours by diving by 60")

200/60

This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author ## 
Victor Prado